<!DOCTYPE html>
<html lang="en">
 
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Notusingthis.com</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
 
    <style>
        body {
        font-family: Arial, sans-serif;
        background-color: #fffbfb;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-attachment: fixed;
        }
 
        h1 {
        text-align: center;
        color: #333;
        }
 
        .ACC {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
        }
 
 
 
        legend {
        font-weight: bold;
        font-size: 1.2em;
        color: #333;
        }
 
        label {
        display: block;
        margin-bottom: 8px;
        color: #555;
        }
 
 
        input {
        width: calc(100% - 16px);
        padding: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
        font-size: 14px;
        border-radius:10px;
        background-color: #fafafa;
        border:0;
        box-shadow:0 0 4px rgba(0,0,0,0.3);
        transition: .3s box-shadow;
        }
 
        .input:hover {
        box-shadow:0 0 4px rgba(57, 56, 56, 0.5);
        }
 
 
        .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
 
    .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
 
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}
 
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
 
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
 
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
 
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
 
.center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
   
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #817579 40%, #c4bdb9);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family: "Codec cold",sans-serif;
  font-size: 12px;
  font-weight: 700;
  height: 54px;
  max-width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 18px;
}
 
.button-75:active {
  outline: 0;
}
 
.button-75:hover {
  outline: 0;
  background-image: linear-gradient(135deg, #b85979 40%, #c4bdb9);
}
 
.button-75 span {
  transition: all 200ms;
}
 
.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}
 
 </style>
 
</head>
 
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
            <a class="navbar-brand" href="/">Welcome</a>
            <a class="navbar-brand" href="/logout">Logout of <%= user.username %></a>

    
       <!--    <% if (user) { %>
                <% if (user.username.toLowerCase().includes('admin')) { %>
                    <a class="navbar-brand" href="/admin">Admin Page</a>
                <% } else { %>
                    <a class="navbar-brand" href="/logout">Logout of <%= user.username %></a>
                <% } %>
            <% } else { %>
           <% } %>-->
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <!-- Additional navbar items -->
                </ul>
            </div>
        </div>
    </nav>
    
    
 
    <div aria-label="Account Controls and Settings" class="ACC center-container">
        <h1>Item Info</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Items</th>
                    <th>Description</th>
                    <th>Date Posted</th>
                    <th>Item Condition</th>
                    <th>Availability</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (let iCount = 0; iCount < userItems.length; iCount++) { %>
                    <tr class="active-row">
                        <td name="item"><%= userItems[iCount].item %></td>
                        <td name="description"><%= userItems[iCount].description %></td>
                        <td name="date_posted"><%= userItems[iCount].date_posted %></td>
                        <td name="item_condition"><%= userItems[iCount].item_condition %></td>
                        <td name="availability"><%= userItems[iCount].availability %></td>
                        <td name="email"><%= userItems[iCount].email %></td>

                        <form action="/editpost/edititem/<%= userItems[iCount].item_id %>" method="GET">
                            <td><button class="button-75" type="submit" role="button"><span class="text">Edit</span></button></td>
                        </form>
                        <form action="/editpost/deleteitem/<%= userItems[iCount].item_id %>" method="POST">
                            <!--  <input type="hidden" name="_method" value="DELETE"> --> 
                               <td><button class="button-75" type="submit" role="button"><span class="text">Delete</span></button></td>
                           </form>
                
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
   
 
</body>
</html>